.productThumbnail{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.wiki-product-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

h1 {
    margin-bottom: 30px;
}

.wiki-product-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.wiki-product-details h2 {
    margin-bottom: 15px;
}

.wiki-product-details p {
    margin-bottom: 10px;
}

.product-image {
    max-width: 250px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.text-center {
    text-align: center;
}


.form-container {
    max-width: 800px;
    margin: 0 auto;
    /* padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #45a049;
}
